@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo{
  font-family: "Seaweed Script";
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.gameBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.game{
  margin: 25px !important;
  width: 400px;
  border: 1px solid #f0f0f0;
  border-radius: 10px !important;
  color:#fff !important;
}

.title{
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 30px;
}

.image_picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image_picker > .responsive {
  padding: 20px;
}

.image_picker > .responsive > img {
  width: 200px !important;
  height: 200px !important;
}
.modalContent{
  display: flex;
  flex-direction: column;
}
.modalContent img{
  object-fit: cover;
}